.container {
    width: 100vw;
}
.head {
    width: 100%;
    height: 50%;
/*    background: url(../images/ob-foot.jpg);*/
    background-position: center;
    background-size: cover;
    text-align: center;
}
ul.head-list {
    list-style-type: none;
    position: relative;
/*    background: url(../images/ob-foot.jpg);*/
}
ul.head-list li {
    float: left;
    padding-left: 50px;
    font-size: 30px;
}
ul.head-list li a{
    color: #000;
}
ul.head-list li a:hover{
    text-decoration: none;
}
#community tr td:first-child{
    font-weight:bold;
}
.group{
    font-size:15px;
  width: 99%;
  overflow-y: auto;
  overflow: auto;
  margin: 0 0 1em;
}
.group table{
    width:100%;
    -webkit-width: 99%
}
.group th,
.group td{
    padding:0 15px;
    height:40px;
}
.group th{
    text-align:left;
    background:#34495e;
    color:#fff;
}
.group tr{
    border-bottom:1px solid #99a4ae;
    height:42px;
    line-height:40px;
    color:#50597b;
}
.group tr:nth-child(2n+2){
    background:#f5f6f7;
}
.group tr td a{
    color:#50597b;
    text-decoration:none;
    position:relative;
    top:1px;
}
table.site_list{
    font-size:12px!important;
}
table.site_list_big{
    font-size:15px!important;
}
table.site_list_partner th{
    font-size:10px!important;
    text-align:center;
}
table.site_list_partner th:first-child{
    text-align:left;
}
.applications table.site_list tr:hover:not(:first-child){
    border-top:2px solid #ff3b3b;
    border-bottom:2px solid #ff3b3b;
    border-left:1px solid #ff3b3b;
    border-right:1px solid #ff3b3b;
    background:#34495e;
    color:#fff;
}
.group  .site_list tr:hover a{
    color:#fff;
}
.group  .site_list tr:hover td#rep a{
    color: #060719;
}
.group  .site_list tr:hover div.buttons a{
    color:#060719;
}

table.centered td:not(:first-child),
table.centered th:not(:first-child){
    text-align:center;
}
div.group input[type="text"] {
    max-width: 145px;
}
body.admin {
    background-color: whitesmoke;
}
